
// COMMENTING THIS OUT MAKES HMR WORK AGAIN FOR @use "./other-styles.scss";
@use "tailwindcss";
@use "./other-styles.scss";


.container {
  min-height: 100px;
  height: 100px;
}
.container1 {
  background-color: aqua;
}
body {
  background-color: #f1f1f1;
}
